<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> index </title>
  <link rel="stylesheet" href="./static/css/bulma.css">
  <link rel="stylesheet" href="./static/css/style.css">
  <script src="./static/js/socket.io.js"></script>
  <script src="./static/js/socketClient.js"></script>
</head>

<body>
  {{{ body }}}
</body>

</html>