<div class="hero is-fullheight">
  <div class="hero-head">
    <div class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Messenger</h1>
          <h2 class="subtitle">Node.js + Socket = ♥</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="box">
        <div class="message-left">
          <p class="tag is-medium is-warning">Merhaba!</p>
        </div>
        <div class="message-right">
          <p class="tag is-medium is-link">Merhaba!</p>
        </div>
        <div class="message-left">
          <p class="tag is-medium is-success">Nasılsın?</p>
        </div>
        <div class="message-right">
          <p class="tag is-medium is-info">İyiyim, teşekkürler.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hero-foot">
      <footer class="section">
        <form>
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="text" placeholder="Mesaj yazın...">
            </div>
            <div class="control"><button class="button is-info">Mesajı Yolla</button></div>
          </div>
        </form>
      </footer>
    </div>
  </div>
</div>