<div class="hero is-fullheight">
  <div class="hero-head">
    <div class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Messenger</h1>
          <h2 class="subtitle">Node.js + Socket = ♥</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <div id="message-box" class="box">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hero-foot">
      <footer class="section">
        <form action="/chat" method="POST">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" name="message" type="text" placeholder="Mesaj yazın...">
            </div>
            <div class="control"><button class="button is-info">Mesajı Yolla</button></div>
          </div>
        </form>
      </footer>
    </div>
  </div>
</div>